{% extends 'burger_shop/base.html' %}
{% block content %}
<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="col-md-6 col-lg-4">
        <div class="card shadow-lg p-4 rounded">
            <h3 class="text-center mb-4">RESET PASSWORD</h3>
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group">

                {% if form.email.errors %}
                    <div class="text-danger mt-2">{{ form.email.errors }}</div>
                {% endif %}

                <label >Email address</label>
                    {{ form.email }}
                <small class="form-text text-muted" style="padding-top: 15px; padding-bottom:15px;">
                        Enter your email to receive a password reset link.
                    </small>
                <input class="btn btn-outline-danger" type="submit" value="Reset">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}