{% extends 'burger_shop/base.html' %}
{% block content %}
<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="col-md-6 col-lg-4">
        <div class="card shadow-lg p-4 rounded text-center">
            <h3>Password Changed!</h3>
            <p>Your password has been successfully updated.</p>
            <a href="{% url 'burger_shop:login' %}" class="btn btn-primary m-2">Log in</a>
            <a href="burger_shop/home" class="btn btn-secondary m-2">Homepage</a>
        </div>
    </div>
</div>
{% endblock %}